@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-wrapper {
  background-image: url('https://wallpapercave.com/wp/wp5525373.jpg');
  z-index: 1;
  width: 100%;
}
.login-container {
  background-color: white;
  z-index: 10;
}
.input {
  margin-bottom: 20px;
}

.contenedor {
	max-width: 960px;
  min-height: 100vh;
	margin: 0 auto;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.left-container {
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.poster {
	width: 300px;
	height: 600px;
	margin-right: 20px;
}

.poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.informacion {
	overflow: hidden;
}

.informacion p {
	margin-bottom: 10px;
}

svg {
  display: inline;
}
@media (max-width: 719px) {
  .contenedor {
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll!important;
  }
}